*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --background-color: #252a34;
  --font-color: #eeeeee;
  --accent-color: #ff2e63;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.8rem;
  box-sizing: inherit;
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 4rem;
  font-family: 'Open Sans', sans-serif;
}